root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.js]
indent_style = space
indent_size = 4

[**.css]
indent_style = space
indent_size = 4

[**.less]
indent_style = space
indent_size = 4

[**.styl]
indent_style = space
indent_size = 4

[**.html]
indent_style = space
indent_size = 4

[**.tpl]
indent_style = space
indent_size = 4

[**.json]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
