/dist
/node_modules
/build
/i18n
/extension-esm
/extension
/lib
/esm
/index.js
/index.blank.js
/index.common.js
/index.simple.js
/echarts.all.js
/echarts.blank.js
/echarts.common.js
/echarts.simple.js
