body {
    padding-top: 60px;
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: "微软雅黑";
}

.face {
    background-color:#181818;
}

#forkme_banner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../img/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Carousel base class */
.carousel {
  margin: -20px 0 30px 0;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 300px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 540px;
  padding: 0;
  margin-top: 40px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.carousel-caption a.link {
  color: #666;
  text-decoration: underline;
}

.carousel-caption a.link:hover,
.carousel-caption a.link:focus {
  color: #0088cc;
  text-decoration: underline;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.navbar a.brand {
    background:url('../ico/favicon.png') no-repeat 0 10px;
    margin-left:0
}
.sidebar-nav {
    padding: 9px 0;
    margin-bottom: 0;
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette .pull-left {
  margin:10px 40px 0 0;
}
.featurette .pull-right {
  margin:10px 0 0 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  margin-bottom:30px;
}

.CodeMirror pre{color: #f8f8f2;}

.span4.ani {
    transition: width 1s;
    -moz-transition: width 1s; /* Firefox 4 */
    -webkit-transition: width 1s; /* Safari and Chrome */
    -o-transition: width 1s; /* Opera */
}
.span8.ani {
    transition: width 1s;
    -moz-transition: width 1s; /* Firefox 4 */
    -webkit-transition: width 1s; /* Safari and Chrome */
    -o-transition: width 1s; /* Opera */
}
.main {
    height: 400px;
    /*width: 800px;*/
    overflow: hidden;
    padding : 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

a.accordion-toggle:hover {
    text-decoration:none;
    font-weight:bolder;
}
ul.nav-list {
    overflow-y: auto;
}
.nav-list i.icon-plus, .nav-list i.icon-minus {
    margin: 6px 0 0 -15px;
    float: left;
    cursor : pointer;
    opacity: .3;
}
i.icon-chevron-right{
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.page-header {
    padding-top:35px;
    margin:0;
    border-width:0;
}
.page-header h1 {
    background-color:#eee;
    padding:15px;
    text-align:right;
}
div.section {
    padding-top:30px;
}
tr.head {
    background-color:#f5f5f5
}

/*doc*/
.accordion-inner {
    padding: 0 0 0 10px;
}
#toc,
#config {
    padding: 9px 0;
    overflow-y : auto;
}
.tree ul,
.tree li {
    list-style: none;
    font-size : 14px;
    line-height : 20px;
}
.tree ul {
    margin: 0;
    padding: 0 0 0 2em;
}

.tree {
    white-space: nowrap;
}
.tree strong {
    color: purple;
    font-weight: normal;
}
.tree li {
    position: relative;
}
.tree strong:hover, #content .value:hover, #content .summary:hover {
    background-color: silver;
    -webkit-transition: all .5s ease-in;
}
.tree .operator {
    position: absolute;
    left: -1em;
    top: 0;
    display: none;
    cursor: pointer;
}
.tree ul .operator {
    display: block;
}
.tree ul .value,
.tree ul .group,
.tree ul .summary {
    margin-left: .5em;
}
.tree .group {
    display: inline;
}
.tree .summary {
    display: none;
    color: black;
    font-weight: bold;
}
.tree .tree-close .group {
    display: none;
}
.tree .tree-close .summary {
    display: inline;
}
.tree .string {
    color: maroon;
}
.tree .number {
    color: blue;
}
.tree .boolean {
    color: black;
}
#doc h3 a,#doc h4 a,#doc h5 a{
    display:inline-block;
    padding-top:80px;
}
table.full {width:100%;}
.ADoc_table { border-collapse: collapse; margin-bottom:15px; }

.ADoc_table th, .ADoc_table td {
    border:1px solid rgb(23,53,81);
    padding: 3px;
    background:#fff;
    color:#222;
}

.ADoc_table th {
    border-bottom:2px solid rgb(23,53,81);
    background:rgb(37,78,117);
    color:#fff;
}

#icon-resize {
    float:right;
    opacity:.3;
}
a#icon-resize:hover {
    opacity:.6;
}
